body 
{
  margin: 0;
  background-color: #D4F1F4;
  background-size: cover;    
  opacity: 1;
  font-size: 28px;
}
h1
{
  z-index: 5;
    text-align: center;
}
 th, td 
{
  border: 1px solid black;
  
  
}
table
{
  
    border-spacing: 10px;
}
th
{
    text-align: left;
}



div.gallery 
{
  
  position:relative;
  margin: 10px;
  float:left; 
  height: 400;
  width: 600;
}

div.image 
{
  opacity: 1;
  display: block;
  width: 100%;
 height: auto; 
  background-size: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}

div.middle 
{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

div.gallery:hover .image
{
  opacity:0.3;

  border: 1px solid black;
}
div.gallery:hover .middle
{
  position:center;
  
  opacity: 1;
  padding:10px;
  border: 2px solid black;
}




div.gallery img 
{
  max-width: 100%;
  max-height: 100%;
}

div.desc 
{
font-family: 'Segoe UI Light';
  
  font-size: 12;
  padding: 20px;
  text-align: center;
}
div.text 
{
    font-family: 'Segoe UI Light';
    
    font-size: 12;
    padding: 20px 40px;
 }
div.texts
{
    font-family: 'Segoe UI Light';
  border:4px solid black;
  padding: 10px;
  font-size: 12;
 
}

#navbar {
  position: sticky;
  top: 0px;
  overflow: hidden;
  margin: 0px;
  z-index: 5;
}

#navbar a 
{
  text-align: center;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.start {
  border: none;
  outline: none;
  padding: 10px 16px;
  
  cursor: pointer;
}


.active, .start:hover {
  
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.loginbutton{
  background-color: skyblue; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
}


.centerimage
{
 margin-left: 20px;
 float: left;
  

}

.footer
{
  position: relative;
}

.footer_contact
{
  display: inline-block;
}

.footer_aboutus
{
  float: left;
  
}




@media screen and (max-width: 600px) 
{
    .column, input[type=submit] 
    {
      width: 100%;
      margin-top: 0;
    }
  }